.square {
  display: flex;
  width: 10vw;
  height: 10vw;
  margin: 1%;
  background-repeat: repeat;
  justify-content: center;
  overflow: hidden;
}
.square:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 10vw;
  height: 10vw;
  opacity: 0;
  box-shadow: 0 1px 1px -8px rgba(0,0,0,0.04),
              0 2px 2px -8px rgba(0,0,0,0.08),
              0 4px 4px -8px rgba(0,0,0,0.16),
              0 8px 8px -8px rgba(0,0,0,0.32),
              0 16px 16px -8px rgba(0,0,0,0.16),
              0 32px 32px -8px rgba(0,0,0,0.16);
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.square:hover::before {
  opacity: 1;
}
