.square {
  display: flex;
  width: var(--square-width);
  height: var(--square-height);
  margin: var(--square-margin);
  background-repeat: repeat;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s var(--cubic-bezier);
}
.square:not(.big):before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 10vw;
  height: 10vw;
  opacity: 0;
  box-shadow: 0 1px 1px -8px rgba(0,0,0,0.04),
              0 2px 2px -8px rgba(0,0,0,0.08),
              0 4px 4px -8px rgba(0,0,0,0.16),
              0 8px 8px -8px rgba(0,0,0,0.32),
              0 16px 16px -8px rgba(0,0,0,0.16),
              0 32px 32px -8px rgba(0,0,0,0.16);
  transition: opacity 0.2s var(--cubic-bezier);
}
.square:not(.big):hover::before {
  opacity: 1;
}
